nav{
    width: 90%;
    height: 25%;
    position: fixed top;
    background-color: rgba(15, 218, 218, 0.8);
    border:solid black 2px;
    margin-left: 5%;
   
}
ul{
    text-align: center;
    list-style-type: none;
   
}
li{
    opacity: .65;
    font-size: 2em;
    display: inline;
    
}
li:hover{
    opacity: 1;
}
a {
    color: white;
    text-decoration: underline;
    padding: 2%;
}

footer{
    text-align: center;
    width: 90%;
    float: left;
    position: absolute bottom;
    background-color: rgba(15, 218, 218, 0.8);
    color: white;
    font-size: 1.5em;
    padding: 1%;
    border:solid black 2px;
    margin-left: 5%;
    margin-top: 2%;
}
  body{
      background-image: url(gridBackground.jpg);
      font-family: 'Source Sans Pro', sans-serif;
      opacity: .85;
  }

  header{
      color: white;
    text-align: center;
    font-size: xx-large;
  }
  

  article{
      margin-bottom: 2%;
      width: 40%;
      margin-left: 5%;
      float: right;
      clear: both;
      font-size: large;
      background-color: rgb(50, 92, 102);
      border: solid 5px  rgb(108, 64, 150);
      padding: .5% 1%;
      color: white;
  }

  article:nth-child(odd){
    width: 40%;
    margin-right: 20%;
    float: left;
    background-color: rgb(50, 92, 102);
    border: solid 5px  rgb(108, 64, 150);
    color: white;
}
img{
    width: 98%;   
    border: solid 5px  rgb(108, 64, 150);
}
h2{
    background-color: rgba(15, 218, 218, 0.8);
    font-size: x-large;
    color: white;
    text-align: center;
}
#faq{
    color: white;
    font-size: 1.5em;
}


@media only screen and (max-width: 950px) {
    article{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
   
    article:nth-child(odd){
        width: 90%;
        margin-left: 2%;
        margin-right: 5%;
        margin-bottom: 2%;
  
    }
    }
   
    
   
    